.welcome {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 1rem;
	font-family: 'Roboto', sans-serif;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	align-self: center;
	margin-left: 35rem;
	margin-right: 35rem;
	border-radius: 1rem;
	border: 0.125rem solid black;
	background-color: lightgreen;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: .5rem;
	padding-top: .5rem;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-bottom: 1rem;
	border-radius: .5rem;
	border: 0.125rem solid black;
	background-color: lightblue;
}

.tombstone-image {
	margin-bottom: 1rem;
}

.obituary {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	margin-left: 35rem;
	margin-right: 35rem;
	margin-bottom: 2rem;
	padding-top: .5rem;
	padding-left: 1.5rem;
	padding-right: 1.55rem;
	padding-bottom: .5rem;
/*	border-radius: 1rem;
	border: 0.125rem solid black;
	background-color: lightgreen;*/
}