*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid black;
}

header nav ul li {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0.5rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-bottom: 1.25rem;
	list-style: none;
}

.container {
	display: grid;
	grid-template-rows: 15rem auto 1.5rem;
	width: 100%;
	min-height: 100vh;
	height: cover;
	background-color: lightgrey;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgrey;
	border-top: 0.1rem solid black;
}