<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cemetery Section [(${cemeterySection.cemeterySection})]</title>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/cemeterySection.css">
</head>
<body class="container">
	<header>
		<img width="500px" height="175px" class="header-img" src="./images/main/arch.jpg">
		<h2>Green Lawn Interactive Grave Search</h2>
		<nav>
			<ul class="header-nav">
				<li><a href="">Home</a></li>
				<li><a href="">Sections</a></li>
			</ul>
		</nav>
	</header>
	<main>	
		<h2 class="welcome">Welcome to Cemetery Section #[(${cemeterySection.cemeterySection})]</h2>
		
		<section class="cards">
			
			<article class="card" th:each="cemeterySection: ${cemeterySection.graveSites}">
				<img src="./images/tombstone/place-holder.jpg" alt="Place Holder Photo" width="250px" height="125px">
				<h3 th:text="${cemeterySection.name}"></h3>
				<p>[(${cemeterySection.dateOfBirth})] - [(${cemeterySection.dateOfDeath})]</p>
				<p th:text="${cemeterySection.status}"></p>
				<!-- <p th:text="${cemeterySection}"></p> -->
			</article>

		</section>
<!-- 	<h1 th:text="${cemeterySection.cemeterySection}">view</h1>
		<img  th:src="${graveSite.tombstoneImageUrl}"/>
		<p th:text="${graveSite.name}"></p>
		<p th:text="${graveSite.state}"></p>
		<p th:text="${graveSite.militaryRank}"></p>
		<p th:text="${graveSite.militaryBranch}"></p>
		<p th:text="${graveSite.militaryUnit}"></p>
		<p th:text="${graveSite.dateOfBirth}"></p>
		<p th:text="${graveSite.dateOfDeath}"></p>
		<p th:text="${graveSite.status}"></p>
		<p th:text="${graveSite.religion}"></p>
		<p th:text="${graveSite.obituary}"></p>-->
		
	</main>

	<footer>
		<small>&copy 2019</small>
	</footer>
</body>
</html>