<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
</head>
<body th:each="cemeterySection: ${cemeterySection.graveSites}">

	<h1 th:text="${cemeterySection.cemeterySectionArea}"></h1>

	<img  th:src="${graveSite.tombstoneImageUrl}"/>
	<p th:text="${graveSite.name}"></p>
	<p th:text="${graveSite.state}"></p>
	<p th:text="${graveSite.militaryRank}"></p>
	<p th:text="${graveSite.militaryBranch}"></p>
	<p th:text="${graveSite.militaryUnit}"></p>
	<p th:text="${graveSite.dateOfBirth}"></p>
	<p th:text="${graveSite.dateOfDeath}"></p>
	<p th:text="${graveSite.status}"></p>
	<p th:text="${graveSite.religion}"></p>
	<p th:text="${graveSite.obituary}"></p>
	


</body>
</html>