<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
</head>
<body th:each="cemeterySection: ${cemeterySection.graveSites}">

	<h1 th:text="${cemeterySection.cemeterySectionArea}">view</h1>

	<img  th:src="${graveSite.tombstoneImageUrl}"/>
	<p th:text="${graveSite.name}">name</p>
	<p th:text="${graveSite.state}">view</p>
	<p th:text="${graveSite.militaryRank}">view</p>
	<p th:text="${graveSite.militaryBranch}">view</p>
	<p th:text="${graveSite.militaryUnit}">view</p>
	<p th:text="${graveSite.dateOfBirth}">view</p>
	<p th:text="${graveSite.dateOfDeath}">view</p>
	<p th:text="${graveSite.status}">view</p>
	<p th:text="${graveSite.religion}">view</p>
	<p th:text="${graveSite.obituary}">view</p>
	


</body>
</html>