<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Grave Site</title>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/graveSite.css">
</head>
<body class="container">
	<header>
		<img width="500px" height="175px" class="header-img" src="./images/main/arch.jpg">
		<h2>Green Lawn Interactive Grave Search</h2>
		<nav>
			<ul class="header-nav">
				<li><a href="./templates/cemeterySection">Back</a></li>
			</ul>
		</nav>
	</header>
	<main>	
		<h2 class="welcome">Resting Place <br>
			of <br>
			[(${graveSite.name})]</h2>
		
		<section class="cards">
			<img class="card" th:src="${graveSite.regularImageUrl}" alt="Place Holder Photo" width="350px" height="450px">
			<article class="card">
				<img class="tombstone-image" th:src="${graveSite.tombstoneImageUrl}" alt="Place Holder Photo" width="400px" height="220px">
				<p th:text="${graveSite.religion}"></p>
				<p th:text="${graveSite.Name}"></p>
				<p th:text="${graveSite.usState}"></p>
				<p th:text="${graveSite.militaryRank}"></p>
				<p>[(${graveSite.militaryBranch})] [(${graveSite.militaryUnit})]</p>
				<p th:text="${graveSite.dateOfBirth}">Date of Birth</p>
				<p th:text="${graveSite.dateOfDeath}">Date of Death</p>
				<p th:text="${graveSite.militaryMedal}">Military Medals</p>
				<p><a th:href="${graveSite.gpsCoordinates}" target="_blank">Location</a></p>
				<p><a th:each="tag: ${graveSite.tags}" th:href="@{/tag(id=${tag.id})}" th:text="${tag}"></a></p>
			</article>
		</section>
		<section class="obituary">
			<article>
				<h3>Obituary</h3>
				<p th:text="${graveSite.obituary}"></p>
			</article>
		</section>
	</main>

	<footer>
		<small>&copy 2019</small>
	</footer>
</body>
</html>