<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Grave Site</title>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/graveSite.css">
</head>
<body class="container">
	<header>
		<img width="500px" height="175px" class="header-img" src="./images/main/arch.jpg">
		<h2>Green Lawn Interactive Grave Search</h2>
		<nav>
			<ul class="header-nav">
				<li><a href="http://localhost:8080/cemeterySection">Back</a></li>
			</ul>
		</nav>
	</header>
	<main>	
		<h2 class="welcome">Resting Place <br>
			of <br>
			[(${graveSite.name})]</h2>
		
		<section class="cards">
			<article class="card">
				<img th:src="${graveSite.regularImageUrl}" alt="Place Holder Photo" width="350px" height="450px">
			</article>
			<article class="card">
				<img class="tombstone-image" th:src="${graveSite.tombstoneImageUrl}" alt="Place Holder Photo" width="400px" height="220px">
				<p th:text="${graveSite.religion}"></p>
				<p>Name</p>
				<p>Military State</p>
				<p>Military Rank</p>
				<p>Military Branch || Unit</p>
				<p>Date of Birth</p>
				<p>Date of Death</p>
				<p>Military Medals</p>
				<p>Section</p>
				<p>GPS Coorinates?</p>
				<p>Tags</p>
			</article>
		</section>
	</main>

	<footer>
		<small>&copy 2019</small>
	</footer>
</body>
</html>